doctype html
html(lang="fr")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= pageTitle
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css")
  body
    section.section
      .container
        a(href='/')
          h1.title PME
          p.subtitle Gestion d’heures et de salaires
        nav.navbar
          .navbar-brand
            a.navbar-burger(data-target='navMenu')
              span
              span
              span
          .navbar-menu#navMenu
            .navbar-start
              a.navbar-item(href='../time') Temps de travails
              a.navbar-item(href='../money-list') Liste de salaires
            .navbar-end
              if !isConnected
                a.is-light.navbar-item(href='../login') Connexion
              else
                a.is-light.navbar-item(href='../logout') Déconnexion
    section.section
      .container
        form(method='post')
          .field
            label.label(for='dailyDate') Date du jour
            .control
              input.input#dailyDate(type='date' name='dailyDate' value=dailyDate)
          .field
            label.label(for='startHour') Heure d’arrivée
            .control
              input.input#startHour(type='time' name='startHour' value=startHour step='1')
          .field
            label.label(for='endHour') Heure de départ
            .control
              input.input#endHour(type='time' name='endHour' value=endHour step='1')
          .field.is-grouped
            .control
              button.button.is-link Envoyer
            .control
              a(href='/').button.is-link.is-light Annuler
    section.section
      .container
        table.table.is-hoverable.is-bordered.is-fullwidth
          thead
            tr
              th 
              th Jour
              th Semaine
              th Mois
          tbody
            tr
              th Temps
              td=dayHour
              td=weekHour
              td=monthHour
            tr
              th CHF
              td=dayPaid
              td=weekPaid
              td=monthPaid

    footer.footer 
      .content.has-text-centered
    script.
      const dailyDate = document.querySelector('#dailyDate');
      dailyDate.onblur = (e) => {
        window.location = e.target.value;
      };
      document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Add a click event on each of them
        $navbarBurgers.forEach( el => {
          el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          });
        });

      });

